@import "tailwindcss";


:root {
  --background: #08090dd8;

  --surface: #11131a;
  --surface-elevated: #161922;

  --border: #232633c9;
  --sub-border:#bd0633;

  --primary: #f01c70;
  --secondary: #bd0633;

  --text: #ffffff;
  --text-secondary: #a3a8b8;

   --font-body: var(--font-inter);
  --font-heading: var(--font-poppins);
}

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-border: var(--border);
  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

/* notes for styles  */
/* 1. 
 poppins font family for the heading and section titles other text will use inter font family
*/


/*2.  Rule:

If a component can be reused:

components/ui

If it belongs to one feature:

features/inbox/components


*/

@keyframes shine {
  from {
    background-position: 200% center;
  }
  to {
    background-position: -200% center;
  }
}

.animate-shine {
  animation: shine 8s linear infinite;
}

/* Firefox */
.sidebar-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}

/* Chrome, Edge, Safari */
.sidebar-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(240, 28, 112, 0.35);
  border-radius: 999px;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(240, 28, 112, 0.6);
}

.sidebar-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  transition: background 0.2s;
}

.sidebar-scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba(240, 28, 112, 0.45);
}